<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    {% include private-notes-toggle.html %}
    <ul class="contact-list">
      {%- if site.email -%}
      <li>
        <a class="u-email" href="mailto:{{ site.email }}">
          <svg class="svg-icon" viewBox="0 0 16 16" aria-hidden="true">
            <path d="M1.5 3.5A1.5 1.5 0 0 1 3 2h10a1.5 1.5 0 0 1 1.5 1.5v9A1.5 1.5 0 0 1 13 14H3a1.5 1.5 0 0 1-1.5-1.5v-9zm1.25.25 5.25 3.5 5.25-3.5H2.75zm10.75 1.6-5.36 3.57a.75.75 0 0 1-.78 0L2.25 5.35v7.15c0 .14.11.25.25.25h10.5c.14 0 .25-.11.25-.25V5.35z"/>
          </svg>
          <span class="username">{{ site.email | escape }}</span>
        </a>
      </li>
      {%- endif -%}
      {%- if site.github_username -%}
      <li>
        <a href="https://github.com/{{ site.github_username | cgi_escape | escape }}">
          <svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg>
          <span class="username">{{ site.github_username | escape }}</span>
        </a>
      </li>
      {%- endif -%}
    </ul>
  </div>
</footer>
